@import "../../globals.css";

:root {
  --vh: 6.95px;
  --dvh: 6.95px;
  --svh: 6.8500000000000005px;
  --lvh: 1vh;
  --progress1: 0;
  --progress2: 0;
}
@layer components {
  .home__hero {
    @apply xl:h-[1000vh];
    position: relative;
    height: 500vh;
  }
  .home__hero .home__inner {
    position: sticky;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    height: calc(100 * var(--vh, 1vh));
  }
  .home__hero .home__inner::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) scaleX(var(--progress2));
    top: 0;
  }
  .home__hero .home__inner .home__zoom {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    height: 100%;
    transform: scale(calc(1 + var(--progress1, 0)) * 3);
    padding: 2.4615384615vh;
  }
  .home__hero .home__first {
    transform: translateY(calc(var(--progress1, 0) * -100%));
  }
  .home__hero .home__enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--positionX, -54.2%), -50%)
      scale(calc(var(--progress1, 0) * 18.2));
    transform-origin: 50% calc(50% - (var(--progress1, 0) * 27%));
    opacity: calc(var(--progress1, 0) * 2);
    text-align: center;
  }
  .home__hero .home__last {
    text-align: end;
  }
  .h1 {
    @apply font-black text-3xl uppercase;
  }
  .h3 {
    @apply font-black text-5xl uppercase;
  }
  .home__spacer {
    height: 100dvh;
    width: 100%;
  }
}
