@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--terminal-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.9),
		0 20px 30px 0 rgb(0 0 0 / 0%), 0 10px 50px 0 rgb(0 0 0 / 0%);
	--terminal-header-background: linear-gradient(180deg, #e7e6e7, #d1d0d1);

	--terminal-button-border: 1px solid;

	--terminal-button-close-color-background: #fd5754;
	--terminal-button-close-color-border: #df494a;
	--terminal-button-close-color-hover: #b42e2e;

	--terminal-button-minimize-color-background: #febb40;
	--terminal-button-minimize-color-border: #e1a034;
	--terminal-button-minimize-color-hover: #b4791a;

	--terminal-button-maximize-color-background: #34c848;
	--terminal-button-maximize-color-border: #30ab3b;
	--terminal-button-maximize-color-hover: #1b8c24;

	--terminal-icon-fill-color: 240 10% 3.9%;

	--terminal-header-height: 2rem;
}

@layer utilities {
	.terminal-icon-fill {
		fill: hsl(var(--terminal-icon-fill-color) / 0.5);
	}

	.terminal-header-background {
		background-image: var(--terminal-header-background);
	}
}

@layer components {
	.terminal-container {
		@apply rounded-lg bg-card;
		box-shadow: var(--terminal-shadow);
	}
	.terminal-container-default {
		@apply h-[50vh] w-[90vw] sm:h-[50vh] sm:w-[60vw] md:h-[50vh] md:w-[75vw] lg:h-[50vh] lg:w-[65vw] xl:h-[70vh] xl:w-[50vw];
	}
	.terminal-container-maximize {
		@apply h-[90vh] w-[90vw];
	}
	.terminal-container-minimize {
		@apply h-fit w-full;
	}

	.terminal-button {
		@apply flex items-center justify-center rounded-full transition-[border];
	}
	.button-variant-close {
		background-color: var(--terminal-button-close-color-background);
		border: var(--terminal-button-border)
			var(--terminal-button-close-color-border);
		@apply hover:border-[var(--terminal-button-close-color-hover)];
	}
	.button-variant-minimize {
		background-color: var(--terminal-button-minimize-color-background);
		border: var(--terminal-button-border)
			var(--terminal-button-minimize-color-border);
		@apply hover:border-[var(--terminal-button-minimize-color-hover)];
	}
	.button-variant-maximize {
		background-color: var(--terminal-button-maximize-color-background);
		border: var(--terminal-button-border)
			var(--terminal-button-maximize-color-border);
		@apply hover:border-[var(--terminal-button-maximize-color-hover)];
	}

	.terminal-icon {
		@apply terminal-icon-fill size-3 rotate-45 scale-50 opacity-0 transition-[rotate,scale,opacity] hover:rotate-0 hover:scale-100 hover:opacity-100;
	}

	.terminal-header {
		@apply terminal-header-background flex items-center overflow-hidden p-1.5;
		height: var(--terminal-header-height);
		max-height: var(--terminal-header-height);
	}
	.terminal-header-default {
		@apply rounded-t-lg;
		box-shadow: var(--terminal-shadow);
	}
	.terminal-header-minimize {
		@apply w-full gap-2 rounded-lg;
	}

	.terminal-action {
		@apply flex gap-1;
	}

	.terminal-title {
		@apply line-clamp-1 flex w-full cursor-grab items-center justify-center truncate font-mono text-sm font-bold text-foreground/75;
	}

	.terminal-content {
		height: calc(100% - var(--terminal-header-height));
		max-height: calc(100% - var(--terminal-header-height));
		overflow-y: scroll;
	}
	.terminal-content-default {
		@apply flex flex-col;
	}
	.terminal-content-minimize {
		@apply hidden;
	}
	.terminal-content-maximize {
		overflow-y: scroll;
	}

	.terminal-program {
		@apply fixed bottom-8 right-5 z-20 flex h-full flex-col-reverse items-center gap-2 lg:bottom-10 lg:right-5;
	}
}
